* { margin: 0; padding: 0; box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'roboto', sans-serif;
  background-color: #e3e3e3;
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  background-image: url('dotwork_1b.gif');
  background-size: 22em;
}

#content {
  padding: 1em 2em 3em;
  border-radius: .5em;
  margin: 1em;
  box-shadow: 0 .2em 1em #0002;
  background-color: white;
  min-width: 40em;
}

button {
  display: block;
  position: relative;
  cursor: pointer;
  background-color: #169754;
  min-width: 15em;
  align-self: flex-end;

  color: white;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;

  padding: 1em 2em;
  margin: 1em 0 3em auto;
  border: none;
  border-radius: .5em;
  box-shadow: 0 3px 6px #0003;
}

button:hover {
  box-shadow: 0 4px 12px #0003;
  bottom: 1px;
}

button:active {
  box-shadow: 0 3px 6px #0003;
  bottom: -1px;
}

@-webkit-keyframes activated {
  0% {background-color: #70ffb5}
  100% {background-color: darkgrey}
}


@-moz-keyframes activated {
  0% {background-color: #70ffb5}
  100% {background-color: darkgrey}
}


@-o-keyframes activated {
  0% {background-color: #70ffb5}
  100% {background-color: darkgrey}
}


@keyframes activated {
  0% {background-color: #70ffb5}
  100% {background-color: darkgrey}
}

.clipboarded {
  background-color: darkgrey;
  cursor: default;
  box-shadow: 0 3px 6px #0003;
  bottom: -1px;

  -webkit-animation: activated 1s ease-out;
     -moz-animation: activated 1s ease-out;
       -o-animation: activated 1s ease-out;
          animation: activated 1s ease-out;
}

.clipboarded:hover,
.clipboarded:active {
  box-shadow: 0 3px 6px #0003;
  bottom: -1px;
}

#generated {
  display: flex;
  flex-flow: column;
}

h1 {
  font-size: 1.8em;
  margin: 1.5em 0 .5em;
  color: #169754;
}

h2::before {
  content: '';
  display: block;
  height: .4em;
  max-width: 7em;
  background-color: black;
  margin-bottom: .1em;
}

h2 {
  margin-top: 1em;
  font-size: 2em;
  text-transform: uppercase;
}

h3 {
  margin-top: .5em;
}

mark {
  text-decoration: underline;
  background-color: initial;
}

input {
  font-size: 1em;
  font-family: inherit;
  padding: .2em .4em;
}

label span {
  color: #888;
  font-style: italic;
}

input, label {
  cursor: pointer;
  display:inline-block;
}

footer {
  margin-bottom: 1em;
  font-size: .9em;
}

footer a {
  color: #757575;
  text-decoration: none;
}

footer a:hover { text-decoration: underline; color: #169754 }
